{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/ubiquitousmusic/css/main.css') }}">
{% endblock %}
{% block body -%}
    <h1>MusicItem list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Muiname</th>
                <th>Id</th>
                <th>Is directory?</th>
                <th>Playtime</th>
                <th>Bitrate</th>
                <th>File size</th>
                <th>Parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('musicitem_show', { 'id': entity.id }) }}">{{ entity.muiName }}</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.muiIsDirectory }}</td>
                <td>{{ entity.muiPlaytime }}</td>
                <td>{{ entity.muiBitrate }}</td>
                <td>{{ entity.muiFileSize }}</td>
                <td>{{ entity.muiMuiParent != null ? entity.muiMuiParent.muiName : '' }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('musicitem_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('musicitem_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('musicitem_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
